@import "@/styles/shared/index.scss";

.wrapper {
  display: grid;
  grid-template-rows: auto auto;
  gap: rem(4px);
  position: relative;

  label {
    @extend .label;
  }

  .input {
    border: 1px solid var(--input-border-color);
    border-radius: 4px;

    height: 37.5px;
    padding: 11px 12px;

    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: var(--black-100);

    transition: all 100ms;

    &:hover {
      border-color: hsl(0, 0%, 70%);
    }

    &:focus {
      border: 1px solid var(--primary-color);
      outline: 1px solid var(--primary-color);
    }

    &::placeholder {
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
      color: var(--black-65);
    }

    padding: 8.5px 12px;
    font-size: 14px;
  }

  .withIcon {
    padding-left: 40px;
  }

  &.withError {
    label {
      color: var(--alert-color);
    }
  }
}

.iconWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  i {
    font-size: 20xp;
    color: var(--secondary-65);
  }
}
