@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

@import "./shared/mixins.scss";

* {
  font-family: "Inter", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

html {
  @include media-max-md {
    font-size: 15px;
  }

  @include media-phone-bg {
    font-size: 14px;
  }
}
