:root {
  --primary-color: #337ab7;
  --device-icon-color: #595766;
  --page-bg: #fff;
  --header-bg: #002a42;
  --header-border-color: #e8e8ea;
  --input-border-color: #48446940;
  --dropdown-border-color: #48446925;

  --black-100: #211f33;
  --black-65: #6e6d7a;
  --black-5: #f4f4f5;
  --secondary-65: #88859e;
  --alert-color: #d53948;

  --modal-bg: #211f3380;
  --modal-content-bg: #fff;
}
